body {
  width: 1200px;
  padding: 0;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.header__menu,
.benefits__list-first,
.benefits__list-second,
.footer__menu,
.footer__menu-social-links,
.hotels__results-sort-list {
  list-style-type: none;
}

.container__background {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.header {
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 71px;
  margin: 0;
  min-height: 56px;

  background-color: #ffffff;
}

.header__menu-item {
  position: absolute;
  padding: 20px 0;
}

.header__menu-item:nth-child(1) {
  left: 71px;
}

.header__menu-item:nth-child(2) {
  left: 312px;
}

.header__menu-item:nth-child(3) {
  right: 317px;
}

.header__menu-item:nth-child(4) {
  right: 73px;
}

.header__logo {
  left: 530px;
  top: 0px;
  position: absolute;
  padding: 0;
  margin-bottom: -100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.header__menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.header__menu-link:hover {
  color: #81b3d2;
}

.header__menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__menu-link--active {
  color: #766357;
}

.main__welcome {
  position: relative;
  height: 510px;

  background: -webkit-gradient( linear, left top, left bottom, from(#deecf5), to(#2C454D));

  background: -o-linear-gradient( #deecf5, #2C454D);

  background: linear-gradient( #deecf5, #2C454D);
  background-image: url(../img/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 28%;
}

.main__welcome-polygon {
  width: 100%;
  height: 100%;

  background: -webkit-gradient( linear, left top, left bottom, from(#deecf5), to(#2C454D));

  background: -o-linear-gradient( #deecf5, #2C454D);

  background: linear-gradient( #deecf5, #2C454D);
  background-image: url(../img/polygon.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.main__welcome-title img {
  position: absolute;
  left: 31%;
  top: 15%;
}

.benefits {
  margin-top: 60px;

  background-color: #ffffff;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 256px;
  margin: 0;
  padding: 0;

  color: #ffffff;
}

.benefits h1 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.benefits h2 {
  margin-top: 27px;
  margin-bottom: 50px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.benefits h4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.benefits__row h3,
.benefits__list-first h3,
.benefits__list-second h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.benefits__row h4,
.benefits__list-first h4,
.benefits__list-second h4 {
  margin-top: 22px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.benefits__row--color {
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 27px 0px;

  background-color: #81b3d2;
}

.benefits__row--img {
  width: 800px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0;
  padding: 0;

  background-color: #8d716a;
  background-image: url(../img/benefits__list-item1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits__list-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 10px 10px;
  min-height: 310px;
}

.benefits__list-first-item {
  margin: 22px 0;

  text-align: center;
}

.benefits__list-first-item:nth-child(1) i {
  width: 75px;
  height: 76px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__list-first-item:nth-child(2) i {
  width: 75px;
  height: 76px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__list-first-item:nth-child(3) i {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-top: 22px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__list-first-item:nth-child(2) {
  padding-left: 10px;
}

.benefits__list-first-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 28px auto auto auto;

  text-align: center;
}

.benefits__list-first-item-content {
  padding: 2px 0px;
}

.benefits__list-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 24px 0px 42px 18px;

  background-color: #eeeeee;
}

.benefits__list-second-item {
  text-align: center;
}

.booking {
  position: relative;
  margin: 0;

  background-color: #ffffff;
}

.booking h3 {
  margin: 0;
  padding: 52px 0 9px 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.booking p {
  padding-bottom: 118px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.booking__map {
  position: relative;
  width: 1200px;
  height: 473px;

  background-image: url(../img/map.jpg);
}

.booking__map--iframe {
  position: absolute;
  width: 1200px;
  height: 593px;
}

.booking__form-dates-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  max-width: 568px;
  padding: 0;
  top: 27%;
  right: 316px;
}

.booking__form--active .booking__form-contain {
  -webkit-animation-name: form--active;
          animation-name: form--active;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  display: block;
  opacity: 1;
  background-color: white;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

@-webkit-keyframes form--active {
  from {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes form--active {
  from {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.booking__form-dates-choose .booking__form-button {
  margin: 0;
  width: 568px;
  padding: 33px 0;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
  border: none;
}

.booking__form-contain {
  display: none;
  padding: 55px 50px 34px 55px;

  font-size: 14px;
  font-weight: 700;
  opacity: 0;
}

.booking__form-contain input {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking__input-style {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 31px;
}

.booking__input-style:nth-child(2) {
  padding-bottom: 33px;
}

.booking__input-style input[type="text"] {
  padding: 6px 13px;
  width: 317px;
}

.booking__input-style input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

.booking__input-style input[type="text"]::-moz-placeholder {
  color: #000000;
}

.booking__input-style input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

.booking__input-style input[type="text"]::-ms-input-placeholder {
  color: #000000;
}

.booking__input-style input[type="text"]::placeholder {
  color: #000000;
}

.booking__input-style:nth-child(1)::before,
.booking__input-style:nth-child(2)::before {
  position: absolute;
  content: "";
  right: 14px;
  top: 6px;
  width: 21px;
  height: 22px;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
}

.booking__input-style:nth-child(1):hover::before,
.booking__input-style:nth-child(2):hover::before {
  background-image: url(../img/calendar--hover.svg);
}

.booking__input-style:nth-child(1):active::before,
.booking__input-style:nth-child(2):active::before {
  background-image: url(../img/calendar--active.svg);
}

.booking__input-style input[type="number"] {
  width: 38px;
  height: 35px;

  -moz-appearance: textfield;
  text-align: center;

  border: none;
  border-bottom: 1px solid #f2f2f2;
}

.booking__input-style input::-webkit-outer-spin-button,
.booking__input-style input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.booking__input-style input {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
}

.booking__input-style input:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
}

.booking__input-style input:active {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.booking__input-style:nth-child(3) input:hover {
  border: none;
  border-bottom: 1px solid #ebebeb;
}

.booking__input-style:nth-child(3) input:active {
  border: none;
  border-bottom: 1px solid #ffffff;
}

.booking__input-style label {
  padding-right: 20px;
  line-height: 35px;
}

.booking__input-style:nth-child(3) label {
  padding-right: 39px;
}

.booking__input-style--children {
  padding-left: 39px;
}

.booking__input-number-minus,
.booking__input-number-plus {
  width: 38px;
  height: 38px;

  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.booking__input-number-minus:hover,
.booking__input-number-plus:hover {
  color: #000000;
}

.booking__input-number-minus:active,
.booking__input-number-plus:active {
  color: #81b3d2;
}

.booking__form-button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 6px 33px 6px 33px;
  margin-right: 96px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.booking__form-button:hover {
  background-color: #604e43;
}

.booking__form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking__button-style {
  padding: 17px 196px;
  margin: 20px 0;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}

.booking__button-style:hover {
  background-color: #669ec0;
}

.booking__button-style:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.searching__form-options {
  min-height: 190px;
  padding: 28px 59px 1px 72px;

  color: #ffffff;

  background: #3d729c url(../img/hotels-background.jpg) no-repeat center;
  background-size: 100%;
}

.searching__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.visually-hidden,
.input__checkbox.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-options-checkbox:not(:disabled):hover + label::before {
  opacity: 1;
}

.form-options-checkbox:disabled + label {
  opacity: 0.4;
}

.form-options-checkbox + label::before {
  content: "";

  display: inline-block;

  vertical-align: top;
  width: 23px;
  height: 23px;
  margin: 0;
  margin-right: 12px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  border-right: 4px solid transparent;
}

.form-options-checkbox:disabled + label::before {
  color: #000000;
  opacity: 0.4;
}

.form-options-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  border-right: none;
}

.searching__form-range {
  width: 318px;
  margin-right: 13px;

  color: #ffffff;
  text-transform: uppercase;
}

.searching__form-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.searching__form-range-price {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.searching__form-range-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.searching__form-range-price label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.searching__form-range-price .range__min-price,
.searching__form-range-price .range__max-price {
  width: 90px;
  padding-left: 56px;

  text-align: center;
  line-height: 31px;
}

.searching__form-range-price input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.searching__form-range-controls {
  position: relative;

  margin-bottom: 32px;
}

.searching__form-range-controls .range-controls__scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.searching__form-range-controls .range-controls__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.searching__form-range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.searching__form-range-toggle:hover {
  background: #1c4f80;
}

.searching__form-range-toggle-min {
  left: 0;
}

.searching__form-range-toggle-max {
  left: 80%;
}

.searching__form-button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 6px 33px 6px 33px;
  margin-right: 96px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.searching__form-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.hotels__results-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 0;
}

.hotels__results-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 85%;
  margin: 0;
  padding-left: 71px;

  text-align: left;
}

.hotels__results-sort-elements {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}

.hotels__results-sort-left {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  margin-right: 10px;


  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hotels__results-sort-right {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;

  background-image: url(../img/icon-dir.svg);
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.hotels__results-sort-left:hover,
.hotels__results-sort-right:hover {
  background-image: url(../img/icon-dir--hover.svg);
}

.hotels__results-sort-left:active,
.hotels__results-sort-right:active {
  background-image: url(../img/icon-dir--active.svg);
}

.hotels__results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 27px 72px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotels__results-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 426px;
}

.hotels__results-list--border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.results-sort-list__total {
  margin-right: 48px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.results-sort-list__sort,
.results-sort-list {
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
}

.results-sort-list__sort {
  margin-right: 40px;
}

.results-sort-list {
  margin-right: 33px;
}

.results-sort-link {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.results-sort-link:hover {
  color: #81b3d2;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.results-sort-link:active {
  color: #000000;
  text-decoration: none;
}

.results-sort-link--active {
  color: #81b3d2;

  text-decoration: none;
}

.searching__form-options-left {
  float: left;
}

.searching__form-options-right {
  float: right;
}

.form-options-field {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  margin: 0;
  margin-right: 101px;
  padding: 0;
  border: none;
}

.form-options {
  margin-bottom: 23px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.form-options-checkbox + label {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;

  line-height: 26px;
}

.booking__form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.results-hotel__info a {
  display: inline-block;
  vertical-align: middle;
}

.results-hotel__info h3 {
  margin-bottom: 7px;
  margin-top: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.results-hotel__info h3:hover {
  color: #81b3d2;
  cursor: pointer;
}

.results-hotel__info h3:active {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.results-hotel__info--table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-hotel__info-placement,
.results-hotel__info-cost {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.results-hotel__info-buttons {
  margin-top: 15px;
}

.results-hotel__info-placement {
  width: 117px;
}

.results-hotel__info-about {
  margin-right: 4px;
  padding: 7px 17px;

  background-color: #81b3d2;
}

.results-hotel__info-about:hover {
  background-color: #669ec0;
}

.results-hotel__info-about:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.results-hotel__info-book {
  padding: 7px 17px;

  background-color: #766357;
}

.results-hotel__info-book:hover {
  background-color: #604e43;
}

.results-hotel__info-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.results-hotel__info-about,
.results-hotel__info-book {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.results-hotel__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 94px;

  text-align: right;
}

.results-hotel__rate-stars {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 17px;

  background-image: url(../img/rate-stars.svg);
  background-repeat: space;
}

.results-hotel__rate-stars--one {
  width: 18px;
}

.results-hotel__rate-stars--two {
  width: 41px;
}

.results-hotel__rate-stars--three {
  width: 65px;
}

.results-hotel__rate-stars--four {
  width: 89px;
}

.results-hotel__rate-stars--five {
  width: 107px;
}

.results-hotel__rate-info {
  padding: 6px 13px;

  color: #666666;

  background-color: #f2f2f2;
}

.footer {
  position: relative;
  min-height: 120px;
  width: 1200px;
  padding: 0;

  background: rgba(255, 255, 255, 0.9);
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px;
}

.footer__menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu-link--tag {
  padding: 0;
  margin: 0;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  padding-left: 19px;

  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.footer__menu-social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-left: 38px;
  height: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;

  line-height: 46px;
}

.footer__menu-social-links--style {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;

  background: transparent;
}

.footer__menu-social-links--style a {
  background-color: #81b3d2;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  opacity: 1;
}

.footer__menu-social-links--style a:hover {
  background-color: #669ec0;
}

.footer__menu-social-links--style a:active {
  background-color: #5496bd;

}

.twitter {
  background-image: url(../img/twitter.svg);
}

.facebook {
  background-image: url(../img/facebook.svg);
}

.youtube {
  background-image: url(../img/youtube.svg);
}

.twitter:active {
  background-image: url(../img/twitter-active.svg);
}

.facebook:active {
  background-image: url(../img/facebook-active.svg);
}

.youtube:active {
  background-image: url(../img/youtube-active.svg);
}

.footer__menu-link--developer {
  display: inline;
  padding: 0;
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.footer__menu-link--developer span {
  line-height: 46px;
  padding-right: 4px;
  vertical-align: top;
}

.footer__menu-link--developer svg {
  padding-top: 3px;
  margin-right: -13px;
  width: 115px;
  height: 41px;
}

.footer__menu-link--developer:hover path {
  fill: #81b3d2;
}

.footer__menu-link--developer:active path {
  fill: #bdbbbc;
}
